/* =========================================================================================
  TIPS REORDER LAYER - STYLE
  LATEST UPDATE : 2020/05/25
  AUTHOR : TAKAYUKI MIYAGAWA
========================================================================================= */
body {
  color: #333333;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  background-color: #FFFFFF;
  word-break: normal;
  word-spacing: 0.1em;

  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

a,
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"] {
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body, div, p, nav, ul, li, a, span,
header, section, footer, h1, h2, h3, textarea,
input, label, dl, dt, dd {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

#wrapper {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

dl {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

dt {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 8px;
}

dd {
  text-align: left;
  line-height: 1.5;
  padding: 0 8px 8px;
}

dd img {
  vertical-align: text-bottom;
  margin: 0 4px;
  display: inline;
}

#close-btn {
  width: 100%;
  height: 48px;
  background-color: #E6E6E6;
  display: table;

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
}

#close-btn span {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  display: table-cell;
}
